# Node.js
node_modules/
dist/
build/

# TypeScript
*.tsbuildinfo

# Env variables
.env

# Logs
logs/
*.log 
*.log.*

# Coverage
coverage/

# Temporary files
tmp/
temp/ 

# IDEs and Editors
.vscode/
.idea/

.tmp-mongo/